* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}


h1 {
    margin: auto;
}

.meuNome {
    padding: 10px;
    background-color: rgb(37, 202, 37);
}

.foto-de-perfil {
    margin: auto;
    position: absolute;
    right: 400px;
    border: 3px solid green;
}

.descricao {
    top: 100px;
}

h2 {
    text-align: center;
}